.cliffTop {
  border-top: 120px solid #678ec5;
  border-right: 3000px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 320px solid transparent;
}

.cliffShadow {
  border-top: 324px solid #111e31;
  border-right: 0 solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 77px solid transparent;
}

.bg-grassy,
.bgGrassy {
  background-color: #4eda12;
  background-image: linear-gradient(to bottom, #4eda12 0%, #678ec5 100%);
}
